<section>
  <h2>@each</h2>
<pre><code class="scss" data-trim>
$buttons: 'facebook' 'twitter' 'linkedin' 'github';

@each $button in $buttons {
  .button-#{$button} {
    background: url("icons/#{$button}.png");
  }
}
</code></pre>
<pre><code class="css" data-trim>
.button-facebook {
  background: url(icons/facebook.png);
}
.button-twitter {
  background: url(icons/twitter.png);
}
.button-linkedin {
  background: url(icons/linkedin.png);
}
.button-github {
  background: url(icons/github.png);
}
</code></pre>
</section>
