<section>
  <h2>@extend</h2>
  <div class="row">
    <div class="col-1-2">
<pre><code class="scss" data-trim>
%block {
  display: block;
  box-sizing: border-box;
}

.error {
  @extend %block;
  border: 1px #f00;
}
.seriousError {
  @extend .error;
  border-width: 3px;
}
.criticalError {
  @extend .seriousError;
  background: #fdd;
}
</code></pre>
    </div>
    <div class="col-1-2">
<pre><code class="css" data-trim>
.error,
.seriousError,
.criticalError {
  display: block;
  box-sizing: border-box;
  border: 1px #f00;
}
.seriousError,
.criticalError {
  border-width: 3px;
}
.criticalError {
  background: #fdd;
}
</code></pre>
    </div>
  </div>
</section>
