<section>
  <h2>Mixins</h2>
  <p>Mixins allow you to define styles that can be reused throughout the stylesheet.</p>
  <div class="row">
    <div class="col-1-2">
<pre><code class="scss" data-trim>
@mixin color {
  color: blue;
}

.aMixed {
  @include color;
  width: 200px;
}

.anotherMixed {
  @include color;
  width: 100px;
}
</code></pre>
    </div>
    <div class="col-1-2">
<pre><code class="css" data-trim>
.aMixed {
  color: blue;
  width: 200px;
}
.anotherMixed {
  color: blue;
  width: 100px;
}
</code></pre>
    </div>
  </div>
</section>
