<section>
  <h2>Nested Media Queries</h2>
  <div class="row">
    <div class="col-1-2">

<pre><code class="scss" data-trim>
.screencolor {
  @media screen {
    color: green;
    @media (min-width:768px) {
      color: red;
    }
  }
  @media tv {
    color: black;
  }
}
</code></pre>
    </div>
    <div class="col-1-2">
<pre><code class="css" data-trim>
@media screen {
  .screencolor {
    color: green;
  }
}
@media screen and (min-width: 768px) {
  .screencolor {
    color: red;
  }
}
@media tv {
  .screencolor {
    color: black;
  }
}
</code></pre>
    </div>
  </div>
</section>
