<section>
	<h2>Number Operations</h2>
						<pre><code data-trim contenteditable>
							p {
							width: 1in + 8pt;
							}

							p {
							font: 10px/8px;
							width: $width/2;
							height: (500px/2);
							margin-left: 5px + 8px/2px;
							}
						</code></pre>
	<p>outputs</p>
						<pre><code data-trim contenteditable>
							p {
							width: 1.111in; }
							p {
							font: 10px/8px;
							width: 500px;
							height: 250px;
							margin-left: 9px; }

						</code></pre>
	<br>
	<p>Number Relational Operators: <strong>&lt;   &lt;=   &gt;=   &gt;</strong></p>
	<p>Relational Operators for all types: <strong>==   !=</strong></p>
</section>
