<section>
  <h2>Number Operations</h2>
  <div class="row">
    <div class="col-1-2">
<pre><code class="scss" data-trim>
p {
  width: 1in + 8pt;
}
p {
  font: 10px/8px;
  width: $width/2;
  height: (500px/2);
  margin-left: 5px + 8px/2px;
}
</code></pre>
    </div>
    <div class="col-1-2">
<pre><code class="css" data-trim>
p {
  width: 1.111in;
}
p {
  font: 10px/8px;
  width: 500px;
  height: 250px;
  margin-left: 9px;
}
</code></pre>
    </div>
  </div>

  <p>Number Relational Operators: <strong>&lt; &lt;= &gt;= &gt;</strong></p>

  <p>Relational Operators for all types: <strong>== !=</strong></p>
</section>
