<section>
  <h1 class="main">Preprocessors?</h1>

  <p><em>Why does anything need to change?</em></p>

  <h2 class="fragment">It doesn't</h2>

  <p class="fragment">
    <strong>CSS is still CSS</strong><br>
    <small>Supersets are inclusive. Architecture can be.</small>
  </p>
  <p class="fragment">
    <strong>Layers impede before they payoff</strong><br>
    <small>Skill sets and timelines may take precedence.</small>
  </p>
  <p class="fragment">
    <strong>Scalability is not the only objective</strong>
    <small>But scalability is not the only reason to choose a preprocessor...</small>
  </p>
</section>
