<section>
  <div class="row">
    <div class="col-1-2">
      <h2>Cons</h2>
      <p class="fragment">
        <strong>CSS is still CSS</strong><br>
        <small>Supersets are inclusive. Architecture can be.</small>
      </p>
      <p class="fragment">
        <strong>Layers often impede before they payoff</strong><br>
        <small>Skill sets and timelines may take precedence.</small>
      </p>
      <p class="fragment">
        <strong>Scalability is not the main objective</strong>
        <small>But scalability is not the only reason to choose a preprocessor...</small>
      </p>
    </div>
    <div class="col-1-2">
      <h2>Pros</h2>
      <div class="fragment">
        <p><strong>The styles need to scale</strong></p>
        <ul style="list-style: none">
          <li><small>Multiple applications with a common brand</small></li>
          <li><small>Application with multiple brands</small></li>
          <li><small>Complex visual states/views</small></li>
        </ul>
      </div>
      <div class="fragment">
        <p><strong>The styles are distributed</strong></p>
        <ul style="list-style: none">
          <li><small>Locations - <em>modularity</em></small></li>
          <li><small>Time - <em>maintainability</em></small></li>
          <li><small>Disciplines - <em>adoption</em></small></li>
        </ul>
      </div>
    </div>
  </div>
</section>
