<section>
	<section>
		<h1>Preprocessors?</h1>
		<p><em>Why does anything need to change?</em></p>
	</section>
	<section>
		<h2>It doesn't</h2>
		<p class="fragment">
			<strong>CSS is still CSS</strong><br>
			<small>Supersets are inclusive. Architecture can be.</small>
		</p>
		<p class="fragment">
			<strong>Layers impede before they payoff</strong><br>
			<small>Skill sets and timelines may take precedence.</small>
		</p>
		<p class="fragment">
			<strong>Scalability is not the only objective</strong>
			<small>But scalability is not the only reason to choose a preprocessor...</small>
		</p>
		<br/>
		<h3 class="fragment">But there are many reasons to embrace the change</h3>
	</section>
	<section data-markdown>
		<script type="text/template">
			##The styles need to scale
			- Multiple applications with a common brand
			- Application with multiple brands
			- Complex visual states/views (catch all)
		</script>
	</section>
	<section data-markdown>
		<script type="text/template">
			##The styles are distributed
			- Locations - <em>modularity</em>
			- Time - <em>maintainability</em>
			- Disciplines - <em>adoption</em>
		</script>
	</section>
	<section>
		<h2>The application is complex</h2>
		<p>You know it when you see it</p>
	</section>
</section>
