<section>
  <h1>Stylesheet Patterns</h1>

  <p>Stylesheet Design Patterns for Better CSS</p>
  <p>
    <small><a href="http://www.linkedin.com/in/joshrenner/">Josh Renner</a> / <a
        href="http://twitter.com/joshrenner">@joshrenner</a> / <a href="mailto:josh@renner.mn">josh@renner.mn</a>
    </small>
  </p>
  <br>
  <br>

  <p><a href="http://demo.rooftop.mn/stylesheets/">demo.rooftop.mn/stylesheets</a></p>
  <small>
    <a href="http://lab.hakim.se/reveal-js">Made with Reveal.js</a>
  </small>
</section>
