<section>
	<section data-markdown>
		<script type="text/template">
			#Anti-Patterns
		</script>
	</section>
	<section>
		<h2>Parent Down Modifactions</h2>
		<br>
						<pre><code data-trim contenteditable>
							.widget {
							color: red;
							border: 1px solid black;
							width: 50%;
							}

							#sidebar .widget {
							width: 100%;
							}
							body.homepage .widget {
							border: none;
							}
						</code></pre>
		<p>Software entities should be open for extension, but closed for modification.
	</section>
	<section>
		<h2>Overly Complicated Selectors</h2>
						<pre><code data-trim contenteditable>
							#main-nav ul li ul li div {}
							#sidebar > div > h3 {}
						</code></pre>
	</section>
	<section>
		<h2>Overly Generic, Unscoped Class Names</h2>
						<pre><code data-trim contenteditable>
							.title {}
						</code></pre>
	</section>
	<section>
		<h2>Overly Aggressive Resets</h2>
						<pre><code data-trim contenteditable>
							hr {
							border: 1px solid #000;
							}
						</code></pre>
	</section>
	<section>
		<h2>Increasing Specificity</h2>
						<pre><code data-trim contenteditable>
							.title {
							color: #000;
							}

							...

							.main .title {
							color: #222;
							}

							...

							.main > div .title {
							color: #000;
							}
						</code></pre>
						<pre><code data-trim contenteditable>
							#callout .title {
							color: #922;
							}

							...

							#callout.muted .title {
							color: #644;
							}

							...

							.main .title {
							color: #000 !important;
							}
						</code></pre>
	</section>
</section>
