<section>
	<h1>Stylesheets</h1>
	<p>A quick intro to css preprocessors and patterns</p>
	<p>
		<small>Created by <a href="http://www.linkedin.com/in/joshrenner/">Josh Renner</a> / <a href="http://twitter.com/joshrenner">@joshrenner</a> / <a href="mailto:josh@renner.mn">josh@renner.mn</a></small>
	</p>
	<br>
	<p>Additional Resources:</p>
	<p><a href="https://github.com/davidtheclark/scalable-css-reading-list">A Scalable CSS Reading List</a></p>
	<p><a href="http://lab.hakim.se/reveal-js">Made with Reveal.js</a></p>
</section>
