<section>
  <header>
    <h1>Attribute Modules</h1>
    <h3>Moving beyond class-based styling</h3>
  </header>

  <blockquote cite="http://glenmaddern.com/articles/introducing-am-css">
    <p>This one attribute holds everything, from enormous BEM-style names [...] to utilities [...], to JavaScript hooks [...], and so we spend a lot of time coming up with names that don't conflict with any others but are still vaguely readable.</p>
    <footer>
      <p><a href="http://glenmaddern.com/articles/introducing-am-css">Glen Maddern</a></p>
    </footer>
  </blockquote>


</section>