<section>
  <h1>Block, Element, Modifier</h1>

  <blockquote cite="http://csswizardry.com/2013/01/mindbemding-getting-your-head-round-bem-syntax/">
    <p>BEM [...] is a front-end naming methodology thought up by the guys at Yandex. It
      is a smart way of naming your CSS classes to give them more transparency and meaning to other developers. They are
      far more strict and informative, which makes the BEM naming convention ideal for teams of developers on larger
      projects that might last a while.</p>
  </blockquote>
</section>
