<section>
  <h2>Base Rules</h2>

  <h2 class="fragment">Layout Rules</h2>

  <h2 class="fragment">Module Rules</h2>
  <h2 class="fragment">State Rules</h2>

  <h2 class="fragment">Theme Rules</h2>


  <aside class="notes">
    <ul>
      <li>reset, normalize, default styles for elements</li>
      <li>grid, major site component layout</li>
      <li>discrete component of the page. navigation bars, dialogs, widgets. sit inside Layout components. can sometimes sit within other Modules. can easily be moved to different parts of the layout without breaking</li>
      <li>something that augments and overrides all other styles. can apply to layout and/or module styles. indicate a JavaScript dependency</li>
      <li>aren't as often used. could override base styles. could change module elements. could affect layout with different arrangements. could also alter how states look.</li>
    </ul>
  </aside>
</section>