<section>
	<section data-markdown>
		<script type="text/template">
			#Patterns
		</script>
	</section>
	<section>
		<h2>Single Responsibility Principle</h2>
		<p><em>A class for every purpose</em></p>
		<br>
						<pre><code data-trim contenteditable>
							<div class="block promoted user clearfix header">
								<h4 class="headline promoted name">Blake Blakerson</h4>
								<p class="description text promoted">Abdid blaisden floyancy</p>
							</div>
						</code></pre>
		<br>
		<p class="fragment">A multitude of classes. Can you be sure of the consequences of altering those styles?</p>
	</section>
	<section>
		<h2>Module Scoping</h2>
						<pre><code data-trim contenteditable>
							.widget {
							//elements
							.title {}
							.body {}
							> button {}

							//states
							&.collapsed {}

							//other variations
							.ie-8 & {}
							}
						</code></pre>
	</section>
	<section>
		<h2>BEM</h2>
		<h3>Block Element Modifier</h3>
		<small>Namespacing, Seperation of Concerns, Extend with Modifiers</small>
		<br>
		<p>The naming convention follows this pattern:</p>
						<pre><code data-trim contenteditable>
							.block {}
							.block__element {}
							.block--modifier {}
						</code></pre>
		<p><code>.block</code> represents the higher level of an abstraction or component.</p>
		<p><code>.block__element</code> represents a descendent of .block that helps form .block as a whole.</p>
		<p><code>.block--modifier</code> represents a different state or version of .block.</p>
		<br>
		<p>The reason for double rather than single hyphens and underscores is so that your block itself can be hyphen delimited, for example:</p>
						<pre><code data-trim contenteditable>
							.site-search {} /* Block */
							.site-search__field {} /* Element */
							.site-search--full {} /* Modifier */
						</code></pre>
	</section>
	<section>
		<h2>Separation of Structure From Skin</h2>
		<br>
						<pre><code data-trim contenteditable>
							.button {
							width: 200px;
							height: 50px;
							}

							.box {
							width: 400px;
							overflow: hidden;
							}

							.widget {
							width: 500px;
							min-height: 200px;
							overflow: auto;
							}

							.skin {
							border: solid 1px #ccc;
							background: linear-gradient(#ccc, #222);
							box-shadow: rgba(0, 0, 0, .5) 2px 2px 5px;
							}
						</code></pre>
	</section>
	<section>
		<h2>Separation of Containers and Content</h2>
						<pre><code data-trim contenteditable>
							// not this
							.widget h3 {
							font-size: 14px;
							color: #333;
							margin-top: 10px;
							}

							// better reuse
							.widget {
							padding-top: 10px;
							}
							h3 {
							font-size: 14px;
							color: #333;
							}
						</code></pre>
	</section>
</section>
