<section>
  <h2>Namespacing &amp; Seperation of Concerns</h2>
<pre><code class="xml" data-trim>
<div class="mod-accordion state-collapsed js-accordion-container x-placesToGoMenu">
  <div class="wrapper js-accordion-title test-clickable">
    <h4 class="title">Places to Go</h4>
  </div>
  <div class="wrapper js-accordion-content test-collapsible">
    <ul class="mod-menu">
      <li class="mod-menu-item">
        <a class="test-link">Someplace</a>
      </li>
    </ul>
  </div>
</div>
</code></pre>
</section>