<section>
  <h1>OOCSS</h1>

  <blockquote cite="https://github.com/stubbornella/oocss/wiki">
    <p>Basically, a CSS “object” is a repeating visual pattern, that can be abstracted into an independent snippet of HTML, CSS, and possibly JavaScript. That object can then be reused throughout a site.</p>
    <footer>
      <p><a href="https://github.com/stubbornella/oocss/wiki">Nicole Sullivan</a></p>
    </footer>
  </blockquote>


  <aside class="notes">
    <ul hidden>
      <li>https://github.com/stubbornella/oocss/wiki</li>
      <li>http://www.smashingmagazine.com/2011/12/12/an-introduction-to-object-oriented-css-oocss/</li>
    </ul>
  </aside>
</section>
