<section>
  <h1>Single Responsibility Principle</h1>

  <blockquote cite="http://csswizardry.com/2012/04/the-single-responsibility-principle-applied-to-css/">
    <p>Loosely, the single responsibility principle states that every module or chunk of code (a function etc) should do one job well and one job only. The benefits of this are mainly in the way of maintainability and extensibility.</p>
    <footer>
      <p><a href="http://csswizardry.com/2012/04/the-single-responsibility-principle-applied-to-css/">Harry Roberts</a></p>
    </footer>
  </blockquote>


  <aside class="notes">
    <p>Loosely, the single responsibility principle states that every module or chunk of code (a function etc) should do one job well and one job only. The benefits of this are mainly in the way of maintainability and extensibility.</p>
    <p>it makes code too specific in its job to be portable and reusable</p>
    <p>Abstracting chunks of functionality into several responsibilities means we can reuse a lot more of our code and recombine it over and over</p>
    <p>A class of .wrapper is a good example of the SRP at play</p>

    <ul hidden>
      <li>https://github.com/stubbornella/oocss/wiki</li>
      <li>http://www.smashingmagazine.com/2011/12/12/an-introduction-to-object-oriented-css-oocss/</li>
    </ul>
  </aside>
</section>
