<section>
  <h2>OOCSS</h2>
  <p>Classes that make use of the single responsibility principle.</p>

  <h3>SEPARATION OF STRUCTURE FROM SKIN</h3>

<pre><code data-trim contenteditable>
<div class="block promoted user clearfix header">
  <h4 class="headline promoted name">Blake Blakerson</h4>
  <p class="description text promoted">Abdid blaisden floyancy</p>
</div>
</code></pre>

  <p class="fragment">A multitude of classes. Can you be sure of the consequences of altering those styles?</p>

  <aside>
    <p>Classes define a single responsibility, and that responsibility should be entirely encapsulated by the context. All its services should be narrowly aligned with that responsibility</p>

    <ul hidden>
      <li>http://www.smashingmagazine.com/2011/12/12/an-introduction-to-object-oriented-css-oocss/</li>
    </ul>
  </aside>
</section>
