<section>
	<h2>Single Responsibility Principle</h2>
	<p><em>A class for every purpose</em></p>
	<br>
						<pre><code data-trim contenteditable>
							<div class="block promoted user clearfix header">
								<h4 class="headline promoted name">Blake Blakerson</h4>
								<p class="description text promoted">Abdid blaisden floyancy</p>
							</div>
						</code></pre>
	<br>
	<p class="fragment">A multitude of classes. Can you be sure of the consequences of altering those styles?</p>
</section>
