<section data-background="img/blocks.jpg">
  <div class="row">
    <div class="col-2-3">
<pre><code class="xml">
<div class="island content">
  <h2>
    <span>Buy now with promo code </span>
    <strong class="promo">0MG4WE50ME</strong>
  </h2>
</div>

<div class="island  sub-content">
  <a class="island promo">Buy now!</a>
</div>

</code></pre>

    </div>
    <div class="col-1-3">
<pre><code class="css" data-trim>
.island {
  display: block;
  padding: 20px;
  margin-bottom: 20px;
}
.promo {
  background-color: #09f;
  color: #fff;
  text-shadow: 0 0 1px rgba(0,0,0,0.25);
  border-radius: 4px;
}
.content {
  width: 640px;
  float: left;
  margin-right: 20px;
}
.sub-content {
  width: 280px;
  float: left;
}
</code></pre>

    </div>
  </div>


  <aside class="notes">
    <ul>
      <li>DRY</li>
      <li>you can make far-reaching changes to your designs by simply modifying a base abstraction only once.</li>
      <li>You can make safer changes because you know that when editing a class you are only ever altering one responsibility.</li>
      <li>You can combine responsibilities to make a variety of components from a lot of abstracted classes.</li>
      <li></li>
    </ul>
  </aside>
</section>